[Unit]
Description=Media Manager Auto-Download Service
After=network.target

[Service]
Type=simple
User=%i
WorkingDirectory=/home/%i
ExecStart=/usr/local/bin/media-manager-service
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

Environment="HOME=/home/%i"
Environment="TMDB_API_KEY=6d4a63549daad44f3abcb460750bb7d1"
Environment="TMDB_READ_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2ZDRhNjM1NDlkYWFkNDRmM2FiY2I0NjA3NTBiYjdkMSIsIm5iZiI6MTc2NjUxMzY5Ni42NjUsInN1YiI6IjY5NGFkYzIwOTc1ODBhODBhZThlYzM2OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.HxGs710OGotl47wHPAv9CC629BsDwyfARS3ibPStFD4"
Environment="NORDVPN_TOKEN=e9f2ab6f93c7fbbe86c6155fb3ee309a6d1160363da13b282e9082d7aeec14a5"

[Install]
WantedBy=multi-user.target
